body {
  font-family: "Shantell Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: var(--maincolor);
  color: var(--accentbrown);
  overflow-x: hidden;
  /* Запрещает горизонтальный скролл */
  width: 100%;
  /* Занимает всю ширину */
  max-width: 100%;
  /* Не дает выйти за пределы */
  position: relative;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-animate.in-view {
  opacity: 1;
  transform: translateY(0);
}