.dress-code {
  background-color: var(--accentbrown);
  color: var(--maincolor);
  margin-top: 30px;
  padding-top: 40px;
}

.dress-code .container {
  padding: 0;
}

.dress-code-content {
  padding: 0 20px;
}

.dress-code-window {
  position: relative;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px 40px;
  background-color: var(--maincolor);
  color: var(--accentbrown);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-align: center;
}

.dress-code-colors {
  margin-top: 25px;
}

.dress-code-bottom {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dress-code-bottom-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-align: center;
}

.slider-wrapper {
  width: 100%;
  margin-top: 30px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge legacy */
  cursor: grab;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  height: 350px;
  width: max-content;
}

.slider:active {
  cursor: grabbing;
  transition: none;
}

.slide {
  flex: 0 0 auto;
  height: 350px;
  overflow: hidden;
}

.slide img {
  height: 100%;
  width: auto;
  display: block;
  pointer-events: none;
  object-fit: cover;
}