.final {
  margin-top: 25px;
  color: var(--accentbrown);
}

.final-wait {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.final-wait-love {
  margin-top: 15px;
  text-align: start;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
}

.final-wait-names {
  text-align: end;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  margin-top: -20px;
}