.footer {
  margin-top: 20px;
  background-color: var(--accentbrown);
  color: var(--maincolor);
  padding: 22px 0;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content-tg {
  color: var(--maincolor);
  text-decoration: none;

}

.footer-content-tg::after {
  color: var(--maincolor);
  text-decoration: none;

}