.header {
  margin-top: 20px;
}

.header .container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.line-img {
  width: 100%;
}

.header-text {
  padding: 0 20px;
  width: 100%;
  color: var(--accentbrown);
  margin: 20px auto 0;
  text-align: center;

}

.pagename {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 46px;
}

.header-names {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
}

.header-date {
  text-align: end;
  margin-top: 18px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 20px;
}

.header--img {
  align-items: center;
  margin: 0 auto;
  width: 80%;
}


.marquee-container {
  margin-top: -10px;
  width: 100%;
  overflow: hidden;
  background-color: var(--accentbrown);
  color: var(--maincolor);
  padding: 7px 0;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  position: relative;
}

.marquee-content .text-item {
  margin-right: 50px;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 90s linear infinite;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}