.location {

  margin-top: 40px;
  padding: 40px 0;
  background-color: var(--accentbrown);
  color: var(--maincolor);
}

.location-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.block-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.location-content-adress {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.location-content-adress-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.location-content-adress-btn {
  background-color: var(--maincolor);
  border-radius: 30px;
  padding: 8px 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--accentbrown);
  text-decoration: none;
}

.location-content-adress-btn::after {
  color: var(--accentbrown);
}