.timing {
  margin-top: 30px;
  color: var(--accentbrown);
}

.time-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.time-content-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.time-content-block {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  text-align: center;
}

.time-numb {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
}

.time-content-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 28px;
}