:root {
  --maincolor: #FFF7EC;
  --accentbrown: #4B2E20;
  --secondarycolor: #FEFDF9;
}

:root {
  --font-family: "Shantell Sans", sans-serif;
  --second-family: "Caveat", sans-serif;
  --third-family: "Segoe Print", sans-serif;
}